.AITE__editor{
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 0;
    cursor: text;
    display: block;
    position: relative;
    tab-size: 1;
    outline: none;
}


.ATEditor__standart__BOLD{
    font-weight: bold;
}

.ATEditor__standart__ITALIC{
   font-style: italic;
}

.ATEditor__standart__SUPERSCRIPT{
    position: relative;
    margin-bottom: -8px;
    font-size: 8px;
}

.ATEditor__standart__UNDERLINE{
    text-decoration: underline;
}

.ATEditor__standart__STRIKETHROUGH{
    text-decoration: line-through;
}

.image-wrapper{
    position: relative;
    display: inline-block;
    .AITE__image__active{
        border: 3px solid rgb(50, 85, 185);
        user-select: none;
    }
}


.ATE_editor_horizontal-rule{
    width: 95%;
    height: 2.5px;
    border: 0px;
    border-radius: 4px;
    margin: 20px 0px;
    background-color: rgb(220, 220, 220);
    margin-left: 2.5%;
}


.AITE__editor__blockquote{
    border-left: 4px solid rgb(220, 220, 220);
    padding-left: 25px;
    font-style: italic;
    color: rgb(140, 140, 140)

}


.image-resize{
    position: absolute;
    width: 12.5px;
    height: 12.5px;
    background-color: rgb(50, 85, 185);
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 4px;
    user-select: none;
    &.image-resize-n{
        top: -6px;
        left: 48%;
        cursor: n-resize;
    }
    &.image-resize-ne{
        top: -6px;
        right: -6px;
        cursor: ne-resize;
    }
    &.image-resize-e{
        top: 48%;
        right: -7px;
        cursor: e-resize;
    }
    &.image-resize-se{
        bottom: -2px;
        right: -6px;
        cursor: se-resize;
    }
    &.image-resize-s{
        bottom: -3px;
        left: 48%;
        cursor: s-resize;
    }
    &.image-resize-sw{
        bottom: -2px;
        left: -6px;
        cursor: sw-resize;
    }
    &.image-resize-w{
        top: 48%;
        left: -7px;
        cursor: w-resize;
    }
    &.image-resize-nw{
        top: -6px;
        left: -6px;
        cursor: nw-resize;
    }
}